/* Theme_1 */
$main-bg-1-color:hsl(222, 26%, 31%);
$toggle-bg-1-color:hsl(223, 31%, 20%);
$screen-bg-1-color:hsl(224, 36%, 15%);
$key-bg-1-color:hsl(225, 21%, 49%);
$key-sh-1-color: hsl(224, 28%, 35%);
$key-red-bg-1-color: hsl(6, 63%, 50%);
$key-red-sh-1-color: hsl(6, 70%, 34%);
$key-org-bg-1-color: hsl(30, 25%, 89%);
$key-org-sh-1-color: hsl(28, 16%, 65%);
$text-1-color-1: hsl(221, 14%, 31%);
$text-white-color: hsl(0, 0%, 100%);