/* Theme_2 */
$main-bg-2-color:hsl(0, 0%, 90%);
$toggle-bg-2-color: hsl(0, 5%, 81%);
$screen-bg-2-color: hsl(0, 0%, 93%);
$key-bg-2-color: hsl(185, 42%, 37%);
$key-sh-2-color: hsl(185, 58%, 25%);
$key-org-bg-2-color: hsl(25, 98%, 40%);
$key-org-sh-2-color: hsl(25, 99%, 27%);
$key-yel-bg-2-color: hsl(45, 7%, 89%);
$key-yel-sh-2-color: hsl(35, 11%, 61%);
$text-2-color-1: hsl(60, 10%, 19%);