/* Theme_3 */
$main-bg-3-color:hsl(268, 75%, 9%);
$toggle-bg-3-color: hsl(268, 71%, 12%);
$key-bg-3-color: hsl(281, 89%, 26%);
$key-sh-3-color: hsl(285, 91%, 52%);
$key-cyan-bg-3-color: hsl(176, 100%, 44%);
$key-cyan-sh-3-color: hsl(177, 92%, 70%);
$key-mag-bg-3-color: hsl(268, 47%, 21%);
$key-mag-sh-3-color: hsl(290, 70%, 36%);
$text-3-color-1: hsl(52, 100%, 62%);
$text-3-color-2: hsl(198, 20%, 13%);
