/* Theme_1 */
/* Theme_2 */
/* Theme_3 */
* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: "Spartan", sans-serif;
  font-weight: 700;
}

body {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  width: 100%;
  max-width: 1440px;
  height: 100vh;
  overflow-y: auto;
  margin: 0 auto;
  padding: 16px;
  background-color: hsl(222deg, 26%, 31%);
}
@media (min-width: 768px) {
  body {
    justify-content: center;
    padding: 0;
  }
}

/* Theme_2 */
body.active-theme-2 {
  background-color: hsl(0deg, 0%, 90%);
}
body.active-theme-2 h1 {
  color: hsl(60deg, 10%, 19%);
}
body.active-theme-2 .modos p {
  color: hsl(60deg, 10%, 19%);
}
body.active-theme-2 .modos-control p {
  color: hsl(60deg, 10%, 19%);
}
body.active-theme-2 .modos-control_riel {
  background-color: hsl(0deg, 5%, 81%);
}
body.active-theme-2 #modos-control_indicador {
  background-color: hsl(25deg, 98%, 40%);
  box-shadow: 2px 1px 2px 0px hsl(25deg, 99%, 27%);
}
body.active-theme-2 body.active-theme-2 #modos-control_indicador {
  background-color: hsl(25deg, 98%, 40%);
  box-shadow: 2px 1px 2px 0px hsl(25deg, 99%, 27%);
}
body.active-theme-2 #pantalla {
  background-color: hsl(0deg, 0%, 93%);
  color: hsl(60deg, 10%, 19%);
}
body.active-theme-2 .botones {
  background-color: hsl(0deg, 5%, 81%);
}
body.active-theme-2 .botones .numero {
  box-shadow: 0px 3px 0px 0px hsl(35deg, 11%, 61%);
  color: hsl(60deg, 10%, 19%);
}
body.active-theme-2 .reiniciar, body.active-theme-2 .borrar {
  background-color: hsl(185deg, 42%, 37%);
  box-shadow: 0px 3px 0px 0px hsl(185deg, 58%, 25%);
}
body.active-theme-2 .borrar {
  background-color: hsl(185deg, 42%, 37%);
  box-shadow: 0px 3px 0px 0px hsl(185deg, 58%, 25%);
}
body.active-theme-2 .igual {
  background-color: hsl(25deg, 98%, 40%);
  box-shadow: 0px 3px 0px 0px hsl(25deg, 99%, 27%);
}

/* Theme_3 */
body.active-theme-3 {
  background-color: hsl(268deg, 75%, 9%);
}
body.active-theme-3 h1 {
  color: hsl(52deg, 100%, 62%);
}
body.active-theme-3 .modos p {
  color: hsl(52deg, 100%, 62%);
}
body.active-theme-3 .modos-control p {
  color: hsl(52deg, 100%, 62%);
}
body.active-theme-3 .modos-control_riel {
  background-color: hsl(268deg, 71%, 12%);
}
body.active-theme-3 #modos-control_indicador {
  background-color: hsl(176deg, 100%, 44%);
  box-shadow: 2px 1px 2px 0px hsl(177deg, 92%, 70%);
}
body.active-theme-3 #pantalla {
  background-color: hsl(268deg, 71%, 12%);
  color: hsl(52deg, 100%, 62%);
}
body.active-theme-3 .botones {
  background-color: hsl(268deg, 71%, 12%);
}
body.active-theme-3 .botones .numero {
  background-color: hsl(268deg, 47%, 21%);
  box-shadow: 0px 3px 0px 0px hsl(290deg, 70%, 36%);
  color: hsl(52deg, 100%, 62%);
}
body.active-theme-3 .reiniciar, body.active-theme-3 .borrar {
  background-color: hsl(281deg, 89%, 26%);
  box-shadow: 0px 3px 0px 0px hsl(285deg, 91%, 52%);
}
body.active-theme-3 .borrar {
  background-color: hsl(281deg, 89%, 26%);
  box-shadow: 0px 3px 0px 0px hsl(285deg, 91%, 52%);
}
body.active-theme-3 .igual {
  background-color: hsl(176deg, 100%, 44%);
  box-shadow: 0px 3px 0px 0px hsl(177deg, 92%, 70%);
  color: hsl(198deg, 20%, 13%);
}

.contenedor-calculadora {
  width: 285px;
  margin-top: 60px;
}
@media (min-width: 768px) {
  .contenedor-calculadora {
    width: 450px;
    margin-top: 0;
  }
}

h1 {
  font-size: 1.25rem;
  text-align: left;
  text-transform: uppercase;
  color: hsl(0deg, 0%, 100%);
}

.modos {
  display: flex;
  justify-content: space-between;
}

.modos-derecha {
  display: flex;
  justify-content: flex-end;
}

.modos p {
  margin: 0 5px;
  color: hsl(0deg, 0%, 100%);
  cursor: pointer;
}

.modos-control {
  display: flex;
  align-items: center;
  justify-content: flex-end;
}

.modos-control p {
  margin-right: 16px;
  color: hsl(0deg, 0%, 100%);
  text-transform: uppercase;
  cursor: pointer;
}

.modos-control_riel {
  position: relative;
  width: 60px;
  height: 16px;
  background-color: hsl(223deg, 31%, 20%);
  border-radius: 30px;
  padding: 4px;
}

#modos-control_indicador {
  z-index: 1;
  position: absolute;
  top: 2px;
  left: 0;
  width: 12px;
  height: 12px;
  background-color: hsl(6deg, 63%, 50%);
  border-radius: 30px;
  box-shadow: 2px 1px 2px 0px hsl(6deg, 70%, 34%);
}

.pantalla-calculadora {
  width: 100%;
}

#pantalla {
  width: 100%;
  height: 100px;
  padding: 0 20px;
  margin: 10px 0;
  text-align: end;
  font-size: 32px;
  background-color: hsl(224deg, 36%, 15%);
  border: none;
  border-radius: 8px;
  color: hsl(0deg, 0%, 100%);
}

.botones {
  display: flex;
  flex-flow: wrap;
  width: 100%;
  padding: 10px 5px;
  margin: 8px 0;
  background-color: hsl(223deg, 31%, 20%);
  border-radius: 8px;
}

.botones-calculadora button {
  width: 48px;
  padding: 8px;
  margin: 10px 10px;
  border: 0;
  border-radius: 5px;
  outline: none;
  cursor: pointer;
}
@media (min-width: 768px) {
  .botones-calculadora button {
    width: 90px;
    padding: 15px;
  }
}

.botones .numero {
  box-shadow: 0px 3px 0px 0px hsl(28deg, 16%, 65%);
  font-size: 32px;
  color: hsl(221deg, 14%, 31%);
}

.botones-calculadora button.reiniciar, button.igual {
  width: 117px;
  font-size: 16px;
  color: hsl(0deg, 0%, 100%);
}
@media (min-width: 768px) {
  .botones-calculadora button.reiniciar, button.igual {
    width: 200px;
  }
}

.reiniciar, .borrar {
  background-color: hsl(225deg, 21%, 49%);
  box-shadow: 0px 3px 0px 0px hsl(224deg, 28%, 35%);
  font-size: 16px;
  color: hsl(0deg, 0%, 100%);
}

.borrar {
  font-size: 16px;
}

.igual {
  background-color: hsl(6deg, 63%, 50%);
  box-shadow: 0px 3px 0px 0px hsl(6deg, 70%, 34%);
}